.hero {
  height: 100vh;
  /* background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%); */
  background: linear-gradient(180deg, #5ca9e9, #e1ffea22 60%);
  display: flex;
}
.heroLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 160px;
  line-height: 1.1;
}
.heroLeft h2 {
  color: #090909;
  font-size: 22px;
  font-weight: 600;
}
.heroLeft p {
  color: #171717;
  font-size: 85px;
  font-weight: 700;
}
.heroHandIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.heroHandIcon img {
  width: 95px;
}
.heroLatestBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 290px;
  height: 60px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 17px;
  font-weight: 500px;
  cursor: pointer;
}
.heroRight {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heroRight img {
  height: 95%;
}

@media (max-width: 1280px) {
  .heroLeft {
    padding-left: 100px;
  }
  .heroLeft h2 {
    font-size: 22px;
  }
  .heroLeft p {
    font-size: 60px;
  }
  .heroHandIcon img {
    width: 80px;
  }
  .heroLatestBtn {
    gap: 10px;
    width: 250px;
    height: 60px;
    margin-top: 20px;
    font-size: 18px;
  }
  .heroRight img {
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .heroLeft {
    padding-left: 80px;
  }
  .heroLeft h2 {
    font-size: 20px;
  }
  .heroLeft p {
    font-size: 50px;
  }
  .heroHandIcon img {
    width: 65px;
  }
  .heroLatestBtn {
    width: 220px;
    height: 50px;
    font-size: 16px;
  }
  .heroRight img {
    height: 400px;
  }
}

@media (max-width: 800px) {
  .heroLeft {
    padding-left: 30px;
  }
  .heroLeft h2 {
    font-size: 16px;
  }
  .heroLeft p {
    font-size: 40px;
  }
  .heroHandIcon img {
    width: 50px;
  }
  .heroLatestBtn {
    width: 175px;
    height: 40px;
    font-size: 13px;
  }
  .heroRight img {
    height: 300px;
  }
}

@media (max-width: 500px) {
  .hero {
    flex-direction: column;
  }
  .heroRight {
    display: none;
  }
  .heroLeft h2 {
    font-size: 18px;
  }
  .heroLeft p {
    font-size: 50px;
  }
  .heroHandIcon img {
    width: 55px;
  }
  .heroLatestBtn {
    width: 200px;
    height: 45px;
    font-size: 14px;
  }
}
