.offer{
    width: 70%;
    height: 85vh;
    display: flex;
    margin: auto;
    padding:0px 100px;
    margin-bottom: 150px;
    margin-top: 30px;
    background: linear-gradient(180deg, #5CA9E9, #e1ffea22 60%);
    /* background: linear-gradient(180deg, #5CA9E9, #E4F3E3 60%); */
}
.offerLeft{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offerLeft h1{
    color:#171717;
    font-size: 60px;
    font-weight: 600;
}
.offerLeft p{
    color:#171717;
    font-size: 22px;
    font-weight: 600;
}
.offerLeft button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background:#ff4141;
    border:none;
    color:white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offerRight{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
