.productDisplay {
  display: flex;
  margin: 0px 0px 0px 70px;
}
.productDisplayLeft {
  display: flex;
  gap: 17px;
}
.productDisplayImgList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productDisplayImgList img {
  height: 143px;
}
.productDisplayMainImg {
  width: 540px;
  height: 620px;
}
.productDisplayRight {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productDisplayRight h1 {
  color: #3d3d3d;
  font-size: 30px;
  font-weight: 700;
}
.productDisplayRightStar {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productDisplayRightPrices {
  display: flex;
  margin: 12px 0px;
  gap: 30px;
  font-size: 20px;
  font-weight: 700px;
}
.priceOld {
  color: #818181;
  text-decoration: line-through;
}
.priceNew {
  color: #ff4141;
}
.productDisplayRightSize h1 {
  margin-top: 10px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.sizes {
  display: flex;
  margin: 15px 0px;
  gap: 20px;
}
.sizes div {
  padding: 12px 19px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.productDisplayRight button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600px;
  background: #ff4141;
  color: white;
  margin-bottom: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productDisplayRight button:active {
  background: #af3434;
}
.productDisplayRightCategory {
  margin-top: 10px;
}
.productDisplayRightCategory span {
  font-weight: 600;
}

@media (max-width: 1280px) {
  .productDisplay {
    margin: 0px 60px;
  }
  .productDisplayLeft {
    gap: 10px;
  }
  .productDisplayImgList {
    gap: 10px;
  }
  .productDisplayImgList img {
    height: 120px;
  }
  .productDisplayMainImg {
    width: auto;
    height: 510px;
  }
  .productDisplayRight {
    margin: 0px 30px;
  }
  .productDisplayRight h1 {
    font-size: 22px;
  }
  .productDisplayRightStar {
    gap: 3px;
    font-size: 13px;
  }
  .productDisplayRightPrices {
    margin: 10px 0px;
    font-size: 18px;
  }
  .productDisplayRightDescription {
    font-size: 13px;
  }
  .productDisplayRightSize h1 {
    margin-top: 20px;
    font-size: 20px;
  }
  .productDisplayRightSize div {
    padding: 14px 20px;
  }
  .productDisplayRight button {
    width: 150px;
    padding: 15px 0px;
    margin-bottom: 20px;
  }
  .productDisplayRightCategory {
    margin-top: 5px;
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .productDisplay {
    margin: 0px 30px;
  }
  .productDisplayLeft {
    gap: 5px;
  }

  .productDisplayImgList img {
    height: 80px;
  }
  .productDisplayMainImg {
    height: 350px;
  }
  .productDisplayRight h1 {
    font-size: 18px;
  }
  .productDisplayRightStar img {
    width: 15px;
  }
  .productDisplayRightDescription {
    font-size: 12px;
  }
  .productDisplayRightSize {
    margin: 10px 0px;
  }
  .productDisplayRightSize div {
    padding: 10px 16px;
    font-size: 12px;
  }
  .productDisplayRight button {
    width: 120px;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .productDisplayRightCategory {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .productDisplay {
    margin: 0px 10px;
  }
  .productDisplayLeft {
    gap: 0px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .productDisplayImgList {
    flex-direction: row;
    gap: 6px;
  }
  .productDisplayImgList img {
    height: 70px;
  }
  .productDisplayMainImg {
    height: 300px;
  }
  .productDisplayRight h1 {
    font-size: 14px;
  }
  .productDisplayRightStar img {
    width: 10px;
  }
  .productDisplayRightSize h1 {
    margin: 10px 0px;
  }
  .productDisplayRightDescription {
    font-size: 12px;
  }
  .productDisplayRightSize {
    margin-top: 10px;
    gap: 5px;
  }
  .productDisplayRightSize div {
    padding: 4px 11px;
  }
  .productDisplayRight button {
    width: 100px;
    font-size: 12px;
  }
  .productDisplayRightCategory {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .productDisplay {
    flex-direction: column;
  }
  .productDisplayLeft {
    flex-direction: row;
    gap: 10px;
    margin: auto;
  }
  .productDisplayImgList {
    flex-direction: column;
    gap: 8px;
  }
  .productDisplayImgList img {
    height: 75px;
  }
  .productDisplayMainImg {
    height: 330px;
  }
  .productDisplayRight {
    margin: 5px;
  }
  .productDisplayRight h1 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
  }
  .productDisplayRightStar img {
    width: 15px;
  }
  .productDisplayRightSize {
    gap: 10px;
    margin: 20px;
  }
  .productDisplayRightSize div {
    padding: 10px 16px;
    font-size: 14px;
  }
  .productDisplayRight button {
    width: 130px;
    font-size: 15px;
    padding: 12px 0px;
  }
  .productDisplayRightCategory {
    font-size: 16px;
  }
}
